[submodule "vendor/maxframe"]
	path = vendor/maxframe
	url = https://github.com/rmm5t/maxframe.el.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
