[submodule "vendor/maxframe"]
	path = vendor/maxframe
	url = https://github.com/rmm5t/maxframe.el.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "vendor/browse-kill-ring"]
	path = vendor/browse-kill-ring
	url = https://github.com/T-J-Teru/browse-kill-ring.git
[submodule "snippets/clojure-mode"]
	path = snippets/clojure-mode
	url = git@github.com:calstad/clojure-snippets.git
[submodule "vendor/restclient"]
	path = vendor/restclient
	url = https://github.com/pashky/restclient.el.git
[submodule "vendor/powerline"]
	path = vendor/powerline
	url = https://github.com/jonathanchu/emacs-powerline.git
[submodule "themes/solarized"]
	path = themes/solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
